/PrimerProyectoWeb/nbproject/private/
/PrimerProyectoWeb/build/
/TagsSQL/nbproject/private/
/TagsSQL/build/
/JsfPrimero/nbproject/private/
/JsfPrimero/build/
/PrimerJPA/nbproject/private/
/para_bd_alumnos/nbproject/private/
/para_bd_alumnos/build/
/JPACitasMedico/nbproject/private/
/CitasMedico/nbproject/private/
/CitasMedico/build/
/JPACitasMedico/build/
/JPACitasMedico2/nbproject/private/
/JPACitasMedico2/build/
/JPACitasMedico3/nbproject/private/
/JPACitasMedico3/build/